.webrtc-getstats-extension-container {
  position: absolute;
  width: 200px;
  top: 0;
  right: 0;
  z-index: 10000;
  background: trasnparent;
  color: lightgreen;
  display: none;
}

.stream-class {
  margin: 0 5px 5px 5px
}

.webrtc-getstats-extension-header {
  background-color: black;
  height: 30px;
  padding: 5px;
  cursor: move;
  text-align: center;
  opacity: 100%;
}

.webrtc-getstats-extension-body {
  opacity: 60%;
  background-color: black;
  display: none;
  height: 0px;
}

.webrtc-getstats-extension-header:hover {
  background-color: rgb(32,32,32);
}
