.webrtc-getstats-extension-container {
  position: fixed;
  padding: 10;
  width: 200px;
  height: 400px;
  top: 0;
  right: 0;
  z-index: 10000;
  background-color: black;
  color: lightgreen;
}

.stream-class {
  margin-top: 5px
}
