.webrtc-getstats-extension-container {
  position: absolute;
  width: 200px;
  height: 400px;
  top: 0;
  right: 0;
  z-index: 10000;
  background-color: black;
  color: lightgreen;
}

.stream-class {
  margin: 5px
}

.webrtc-getstats-extension-header {
  height: 30px;
  padding: 5px;
  cursor: move;
  text-align: center;
}

.webrtc-getstats-extension-header:hover {
  background-color: rgb(32,32,32);
}
